@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4c2ed;
  --backgroundSecond: #e9b9f6;
  --foreground: #767776;
}

body {
  color: var(--foreground);
  background: var(--background);
}



