.carrossel {
  position: relative;
  overflow: hidden;
  width: 100%;       /* ocupa toda a largura do container pai */
  max-width: 100%;
  margin: 0 auto;
  background: #111;
}

.track {
  display: flex;
  flex-wrap: nowrap;      /* mantém as imagens em linha */
  will-change: transform; /* melhora desempenho */
}

.item {
  flex: 0 0 auto;         /* impede de esticar */
  position: relative;
  overflow: hidden;

}

